h3{
    text-align: center;
    font-size: 50px;
    background-color: rgb(51, 53, 153)
    justify-cont    
    
}
*{
    text-align:center;
     
}
i{
   font-size:40px ;
   background-color: wheat;
}
li{
    font-size: 30px; 
    background-color: yellowgreen;
}